@{
    ViewData["Title"] = "Landing";
}
<style>
    body {
        background-color:black;
        color:azure;
    }
    img{
        margin:auto;
    }

</style>

<body>
<div class="text-center">
    <h1 class="display-4">Welcome Adventurer!</h1>
    <br />
    <p>
        Your journey into the great unkown begins today!  Slay beasts with a mighty sword, cast a fire ball and loot treasure in your own fantasy world!
        Dungeon Master Developers is proud to present the ultimate role playing adventure online for you and your friends!
    </p>
</div>
    <img src="~/img/Castle.jpg" alt="Mountains" width="1300" height="1000" >

</body>