@{
    ViewData["Title"] = "Landing";
}


<div class="text-center">
    <h1 class="display-4">Welcome User!</h1>
    <br />
    <p>
        Users will reach this page only once they log in. Here we will put features for current users, a play
        button, and promos.
    </p>
</div>