@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DMD.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DMD.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li>
                                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/img/DMD-Main-Logo.jpg" width="100" height="55"/></a>
                            </li>
                            <li style="margin-top:8px;">
                                <a class="nav-link text-dark" class="text-right" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                            </li>
                            <li style="margin-top:8px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                            </li>
                                    @*                        <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User"
                                    asp-action="Login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User"
                                    asp-action="Logout">Logout</a>
                                    </li>*@
                            <li style ="margin-top:8px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Landing" asp-action="Index">Landing(Test Link)</a>
                            </li>
                            <li style ="margin-top:8px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account(Test Link)</a>
                            </li>
                            <li style ="margin-top:8px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Play" asp-action="Index">Play</a>
                            </li>
                            <li style ="margin-top:8px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Sheets" asp-action="Index">Character Sheets</a>
                            </li>
                            <li style ="margin-top:8px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About the Developers</a>
                            </li>
                            </ul>
                    
                     <ul class="navbar-nav">
                        <li class="nav-item">
                            @{
                                var fullname = @HttpContextAccessor.HttpContext?.Session.GetString("fullname");
                                if (fullname != null) fullname = fullname.Replace("\"", "");
                            }
                            <a class="nav-link text-dark">@fullname</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div id="page-container">
        <div id="content-wrap">
   
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    
    <footer>
        <div id="Footer">
            &copy; Dungeon Master Developers LLC <br />
            <br />
            <i class="fa fa-map-marker"></i> Appleton Wi, US<br>
            <i class="fa fa-phone"></i> Phone: 715-420-6969<br>
            <i class="fa fa-envelope "></i> Email: Devs@DMDmail.com<br>                
            <br />    
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="About">Acknowledgments</a> |
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="About">Terms of Service</a> |
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="About">Privacy Policy</a> |
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="About">Support</a> |
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="About">Contact Us</a> |
           
        </div>
      
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
    </div>
</body>
</html>