@{
    ViewData["Title"] = "Account Details";
}

<div class="text-center">
    <h1 class="display-4">Account Details</h1>
    <p>
        Displays account details and user information.
    </p>

    <br />
    <a class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="Index">Back to Account</a>
</div>