@{
    ViewData["Title"] = "Edit Account";
}

<div class="text-center">
    <h1 class="display-4">Edit Account</h1>
    <p>
        Allows user to edit their information.
    </p>

    <br />
    <a class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="Index">Back to Account</a>
</div>