@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Account";
}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="~/css/accountStylesheet/Styles.css" />
<link rel="stylesheet" href="~/css/darkMode/Styles.css" />
</head>

<script>
    function openInfo() {
        document.getElementById("settingsPage").style.display = "none";
        document.getElementById("mapsPage").style.display = "none";
        document.getElementById("charPage").style.display = "none";
        document.getElementById("gamesPage").style.display = "none";
        document.getElementById("friendsPage").style.display = "none";

        document.getElementById("infoPage").style.display = "block";

    }

    function openSettings() {
        document.getElementById("infoPage").style.display = "none";
        document.getElementById("mapsPage").style.display = "none";
        document.getElementById("charPage").style.display = "none";
        document.getElementById("gamesPage").style.display = "none";
        document.getElementById("friendsPage").style.display = "none";

        document.getElementById("settingsPage").style.display = "block";
    }

    function openMaps() {
        document.getElementById("infoPage").style.display = "none";
        document.getElementById("settingsPage").style.display = "none";
        document.getElementById("charPage").style.display = "none";
        document.getElementById("gamesPage").style.display = "none";
        document.getElementById("friendsPage").style.display = "none";

        document.getElementById("mapsPage").style.display = "block";
    }

    function openChars() {
        document.getElementById("infoPage").style.display = "none";
        document.getElementById("mapsPage").style.display = "none";
        document.getElementById("settingsPage").style.display = "none";
        document.getElementById("gamesPage").style.display = "none";
        document.getElementById("friendsPage").style.display = "none";

        document.getElementById("charPage").style.display = "block";
    }

    function openFriends() {
        document.getElementById("infoPage").style.display = "none";
        document.getElementById("mapsPage").style.display = "none";
        document.getElementById("settingsPage").style.display = "none";
        document.getElementById("gamesPage").style.display = "none";
        document.getElementById("charPage").style.display = "none";

        document.getElementById("friendsPage").style.display = "block";
    }

    function openGames() {
        document.getElementById("infoPage").style.display = "none";
        document.getElementById("mapsPage").style.display = "none";
        document.getElementById("settingsPage").style.display = "none";
        document.getElementById("friendsPage").style.display = "none";
        document.getElementById("charPage").style.display = "none";

        document.getElementById("gamesPage").style.display = "block";
    }
    
</script>

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top page-push" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <!--User Profile Image-->
                        <img src="~/img/DefaultUser.png" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            @{
                                var fullname = @HttpContextAccessor.HttpContext?.Session.GetString("fullname");
                            }
                            <h3>@fullname</h3>
                        </div>
                    </div>
                    <div class="w3-container container top-push">

                        <!--Account Info-->
                        <div class="row m-3">
                            <span class="col-auto material-symbols-outlined icon-pop-toggle">
                                feed
                            </span>
                            <button class="col-auto btn-color-toggle btn-plain w3-opacity" onclick="openInfo()">Account Info</button>
                        </div>
                        
                        <!--Friends-->
                        <div class="row m-3">
                            <span class="col-auto material-symbols-outlined icon-pop-toggle">
                                groups
                            </span>
                            <button class="col-auto btn-color-toggle btn-plain w3-opacity" onclick="openFriends()">Friends List</button>
                        </div>

                        <!--Character Gallery-->
                        <div class="row m-3">
                            <span class="col-auto material-symbols-outlined icon-pop-toggle">
                                switch_account
                            </span>
                            <button class="col-auto btn-color-toggle btn-plain w3-opacity" onclick="openChars()">Characters</button>
                        </div>

                        <!--Map Gallery-->
                        <div class="row m-3">
                            <span class="col-auto material-symbols-outlined icon-pop-toggle">
                                photo_library
                            </span>
                            <button class="col-auto btn-color-toggle btn-plain w3-opacity" onclick="openMaps()">Map Gallery</button>
                        </div>

                        <!--Current Games-->
                        <div class="row m-3">
                            <span class="col-auto material-symbols-outlined icon-pop-toggle">
                                casino
                            </span>
                            <button class="col-auto btn-color-toggle btn-plain w3-opacity" onclick="openGames()">Games</button>
                        </div>

                        <!--Account Settings-->
                        <div class="row m-3">
                            <span class="col-auto material-symbols-outlined icon-pop-toggle">
                                settings
                            </span>
                            <button class="col-auto btn-color-toggle btn-plain w3-opacity" onclick="openSettings()">Account Settings</button>
                        </div>

                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <!----------------- CHARACTERS PAGE------------------->
                    <div id="charPage">
                    <div class="w3-container w3-card w3-white w3-margin-bottom container">
                        <h2 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge"></i>Characters</h2>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>A list of characters associated with the account</b></h5>
                            
                            <div class="row">
                                <div class="card m-2 col">
                                    <div class="card-header">
                                        Character1 Name
                                    </div>
                                    <div class="card-body">
                                        Character1 Image
                                    </div>
                                    <div class="card-footer">
                                        Class, LVL, Delete/Favorite Icons
                                    </div>
                                </div>
                                <div class="card m-2 col">
                                    <div class="card-header">
                                        Character2 Name
                                    </div>
                                    <div class="card-body">
                                        Character2 Image
                                    </div>
                                    <div class="card-footer">
                                        Class, LVL, Delete/Favorite Icons
                                    </div>
                                </div>
                                <div class="card m-2 col">
                                    <div class="card-header">
                                        Character2 Name
                                    </div>
                                    <div class="card-body">
                                        Character2 Image
                                    </div>
                                    <div class="card-footer">
                                        Class, LVL, Delete/Favorite Icons
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    </div>
                        <!------------------------------------------------------------->

                <!----------------- MAPS PAGE------------------->
                    <div id="mapsPage">

                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge"></i>Maps Gallery</h2>
                        <h5 class="w3-opacity"><b>A list of maps associated with the account</b></h5>

                        <div class="row">
                            <div class="card m-2 col">
                                <div class="card-header">
                                    Map1 Name
                                </div>
                                <div class="card-body">
                                    Map1 Image
                                </div>
                                <div class="card-footer">
                                    Map Type, Delete/Favorite Icons
                                </div>
                            </div>
                            <div class="card m-2 col">
                                <div class="card-header">
                                    Map2 Name
                                </div>
                                <div class="card-body">
                                    Map2 Image
                                </div>
                                <div class="card-footer">
                                    Map Type, Delete/Favorite Icons
                                </div>
                            </div>
                            <div class="card m-2 col">
                                <div class="card-header">
                                    Map3 Name
                                </div>
                                <div class="card-body">
                                    Map3 Image
                                </div>
                                <div class="card-footer">
                                    Map Type, Delete/Favorite Icons
                                </div>
                            </div>
                        </div>
                        <hr>
                        </div>
                    </div>
                        <!------------------------------------------------------------->

                <!----------------- GAMES PAGE------------------->
                <div id="gamesPage">

                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge"></i>Games</h2>
                        <h5 class="w3-opacity"><b>A list of games associated with the account</b></h5>

                        <div class="row">
                            <div class="card m-2 col">
                                <div class="card-header">
                                    Game1 Name
                                </div>
                                <div class="card-body">
                                    Game1 Info
                                </div>
                                <div class="card-footer">
                                    Delete/Favorite Icons
                                </div>
                            </div>
                            <div class="card m-2 col">
                                <div class="card-header">
                                    Game2 Name
                                </div>
                                <div class="card-body">
                                    Game2 Info
                                </div>
                                <div class="card-footer">
                                    Delete/Favorite Icons
                                </div>
                            </div>
                            <div class="card-header">
                                    Game3 Name
                                </div>
                                <div class="card-body">
                                    Game3 Info
                                </div>
                                <div class="card-footer">
                                    Delete/Favorite Icons
                                </div>
                        </div>
                        <hr>
                        </div>
                    </div>
                <!------------------------------------------------------------->

                <!----------------- FRIENDS PAGE------------------->
                <div id="friendsPage">

                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge"></i>Friends List</h2>
                        <h5 class="w3-opacity"><b>A list of games associated with the account</b></h5>

                        <div class="row">
                            <div class="card m-2 col">
                                <div class="card-header">
                                    Friend1 Name
                                </div>
                                <div class="card-body">
                                    Friend1 Image
                                </div>
                                <div class="card-footer">
                                    Msg/Delete/Favorite Icons
                                </div>
                            </div>
                            <div class="card m-2 col">
                                <div class="card-header">
                                    Friend2 Name
                                </div>
                                <div class="card-body">
                                    Friend2 Image
                                </div>
                                <div class="card-footer">
                                    Msg/Delete/Favorite Icons
                                </div>
                            </div>
                            <div class="card-header">
                                    Friend3 Name
                                </div>
                                <div class="card-body">
                                    Friend3 Image
                                </div>
                                <div class="card-footer">
                                    Msg/Delete/Favorite Icons
                                </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <!------------------------------------------------------------->

                <!----------------- ACCOUNT INFO PAGE------------------->
                <div id="infoPage">

                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge"></i>Account Info</h2>
                        <div class="w3-container">

                            <!--GENERAL-->
                            <div class="card m-3">
                                <div class="card-body">
                                    <h5 class="row m-3 w3-opacity"><b>Username: OgreSlayer34</b></h5>
                                    <h5 class="row m-3 w3-opacity"><b>Email:"Billybob.Hates.Ogres@gmail.com"</b></h5>
                                    <h5 class="row m-3 w3-opacity"><b>First Name: Johnny</b></h5>
                                    <h5 class="row m-3 w3-opacity"><b>Last Name: Billybob</b></h5>
                                    <h5 class="row m-3 w3-opacity"><b>Join Date: 10/10/2022</b></h5>
                                    <a class="row justify-content-center m-4 btn btn-custom btn-pop-toggle" asp-area="" asp-controller="Account" asp-action="Edit">Edit Account Info</a>
                                </div> 
                            </div>

                            <!--STATS-->
                            <div class="card m-3">
                                <div class="card-header">
                                    <h5 class="w3-opacity"><b>Player Lifetime Stats</b></h5>
                                </div>
                                <hr />
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col card m-3">
                                            <div class="card-header">
                                                <h5 class="w3-opacity">Total Games Played</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>12<!--HARD CODE swap for variable later?--></p>
                                            </div>
                                        </div>
                                        <div class="col card m-3">
                                            <div class="card-header">
                                                <h5 class="w3-opacity">Characters Created </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>4<!--HARD CODE swap for variable later?--></p>
                                            </div>
                                        </div>
                                        <div class="col card m-3">
                                            <div class="card-header">
                                                <h5 class="w3-opacity">Total Gold Earned</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>23,504<!--HARD CODE swap for variable later?--></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge custom-bg-color" style="width:90%">90%</div>
                                    </div>
                                    <p>Total Characters</p>
                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge custom-bg-color" style="width:80%">
                                            <div class="w3-center w3-text-white">80%</div>
                                        </div>
                                    </div>
                                    <p>Illustrator</p>
                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge custom-bg-color" style="width:75%">75%</div>
                                    </div>
                                    <p>Media</p>
                                    <div class="w3-light-grey w3-round-xlarge w3-small">
                                        <div class="w3-container w3-center w3-round-xlarge custom-bg-color" style="width:50%">50%</div>
                                    </div>
                                    <br>

                                    <br>
                                    <hr>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------->

                    <!----------------- ACCOUNT SETTINGS PAGE------------------->
                    <div id="settingsPage">

                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="w3-margin-right w3-xxlarge"></i>Account Settings</h2>
                        <h5 class="w3-opacity"><b>Edit account info, delete the account, set mode(maybe add later?)</b></h5>
                        <button class="" onclick="toggleMode()">Toggle Mode</button>
                        <a class="btn btn-pop-toggle" asp-area="" asp-controller="Account" asp-action="Edit">Edit Account</a>
                        <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Delete">Delete Account</a>
                        
                        <hr>

                        </div>
                    </div>
                        <!------------------------------------------------------------->

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

</body>







<!--
<style>
    body{
        background-color: black;
        color: white;
    }
</style>
<body>
<div class="text-center">
    <h1 class="display-4">Account</h1>
    <p>
        This page is accessible through clicking your username or icon.
        Here, users can view their account details, edit their information, or delete their account.
    </p>

    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Details">Account Details</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Account" asp-action="Edit">Edit Account</a>
    <br />
    <br />
    <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Delete">Delete Account</a>
</div>
</body>
-->
