@{
    ViewData["Title"] = "Character Sheets";
}

<head>
    <link rel="stylesheet" href="~/css/charStylesheet/Styles.css" />
</head>

<h1 class="display-4">Create your Character</h1>
<p>
    Fill out the form below to add a character to your account
</p>

<div class="container" id="characterForm">

    <div class="section1">
        <div class="row justify-content-lg-between">
            <div class="card col-4">
                <div class="card-header header">
                    <input class="form-control" type="text" placeholder="Character Name">
                </div>
                <div class="card-body card-content">
                    <input class="form-control" type="file" placeholder="Image">
                </div>
                <div class="card-footer">
                    <p>Username</p>
                </div>
            </div>

            <div class="card col-8">
                <div class="card-body card-content align-middle">
                    <div class="row justify-content-around section1">
                        <input class="col 3 form-control" type="text" placeholder="Class">
                        <input class="col 1 form-control" type="text" placeholder="Level">
                        <input class="col 3 form-control" type="text" placeholder="Background">
                    </div>
                    <div class="row justify-content-around section1">
                        <input class="col 3 form-control" type="text" placeholder="Race">
                        <input class="col 3 form-control" type="text" placeholder="Alignment">
                        <input class="col 1 form-control" type="text" placeholder="Experience">
                    </div>
                    <div class="row justify-content-around section1">
                        <input class="col 3 form-control" type="text" placeholder="Hair Color">
                        <input class="col 3 form-control" type="text" placeholder="Eye Color">
                        <input class="col 1 form-control" type="text" placeholder="Extra Features">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="section1">
        <div class="row justify-content-lg-around">
            <!----------------STRENGTH--------------->
            <div class="card col-2">
                <div class="card-header header">
                    <h2 class ="stat-header">STR</h2>
                </div>
                <div class="card-body card-content">
                        <input class="w-100 form-control form-control-lg stat-modifier" type="number" placeholder="">
                </div>
                <div class="card-footer">
                    <input class="w-100 form-control form-control-sm base-stat" type="number" placeholder="">
                </div>
            </div>
            <!--------------------------------------->
            <!----------------DEXTERITY--------------->
            <div class="card col-2">
                <div class="card-header header">
                    <h2 class="stat-header">DEX</h2>
                </div>
                <div class="card-body card-content">
                    <input class="w-100 form-control form-control-lg stat-modifier" type="number" placeholder="">
                </div>
                <div class="card-footer">
                    <input class="w-100 form-control form-control-sm base-stat" type="number" placeholder="">
                </div>
            </div>
            <!--------------------------------------->
            <!----------------CONSTITUTION--------------->
            <div class="card col-2">
                <div class="card-header header">
                    <h2 class="stat-header">CON</h2>
                </div>
                <div class="card-body card-content">
                    <input class="w-100 form-control form-control-lg stat-modifier" type="number" placeholder="">
                </div>
                <div class="card-footer">
                    <input class="w-100 form-control form-control-sm base-stat" type="number" placeholder="">
                </div>
            </div>
            <!--------------------------------------->
            <!----------------INTELLIGENCE--------------->
            <div class="card col-2">
                <div class="card-header header">
                    <h2 class="stat-header">INT</h2>
                </div>
                <div class="card-body card-content">
                    <input class="w-100 form-control form-control-lg stat-modifier" type="number" placeholder="">
                </div>
                <div class="card-footer">
                    <input class="w-100 form-control form-control-sm base-stat" type="number" placeholder="">
                </div>
            </div>
            <!--------------------------------------->
            <!----------------WISDOM--------------->
            <div class="card col-2">
                <div class="card-header header">
                    <h2 class="stat-header">WIS</h2>
                </div>
                <div class="card-body card-content">
                    <input class="w-100 form-control form-control-lg stat-modifier" type="number" placeholder="">
                </div>
                <div class="card-footer">
                    <input class="w-100 form-control form-control-sm base-stat" type="number" placeholder="">
                </div>
            </div>
            <!--------------------------------------->
            <!----------------CHARISMA--------------->
            <div class="card col-2">
                <div class="card-header header">
                    <h2 class="stat-header">CHA</h2>
                </div>
                <div class="card-body card-content">
                    <input class="w-100 form-control form-control-lg stat-modifier" type="number" placeholder="">
                </div>
                <div class="card-footer">
                    <input class="w-100 form-control form-control-sm base-stat" type="number" placeholder="">
                </div>
            </div>
            <!--------------------------------------->
        </div>
    </div>

    <div class="section1">
        <div class="row justify-content-around">
            <div class="card col-3">
                <div class="card section1">
                    <div class="card-header header">
                        <h2 class="stat-header">Saving Throws</h2>
                    </div>
                    <div class="card-body card-content">
                        <div class="form-check">
                            <!------------------STR CHECK-------------------->
                            <input class="form-check-input" type="checkbox" value="" id="chaCheck">
                            <div class="input-group">
                                <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                                <div class="input-group-prepend w-75">
                                    <div class="input-group-text char-check-text">Strength</div>
                                </div>
                            </div>
                            <!----------------------------------------------->
                        </div>
                        <div class="form-check">
                            <!------------------DEX CHECK-------------------->
                            <input class="form-check-input" type="checkbox" value="" id="chaCheck">
                            <div class="input-group">
                                <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                                <div class="input-group-prepend w-75">
                                    <div class="input-group-text char-check-text">Dexterity</div>
                                </div>
                            </div>
                            <!----------------------------------------------->
                        </div>
                        <div class="form-check">
                            <!------------------CON CHECK-------------------->
                            <input class="form-check-input" type="checkbox" value="" id="conCheck">
                            <div class="input-group">
                                <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                                <div class="input-group-prepend w-75">
                                    <div class="input-group-text char-check-text">Constitution</div>
                                </div>
                            </div>
                            <!----------------------------------------------->
                        </div>
                        <div class="form-check">
                            <!------------------INT CHECK-------------------->
                            <input class="form-check-input" type="checkbox" value="" id="intCheck">
                            <div class="input-group">
                                <input class="w-25 form-control form-control-sm" type="number" placeholder="">   
                                <div class="input-group-prepend w-75">
                                    <div class="input-group-text char-check-text">Intelligence</div>
                                </div>
                            </div>
                            <!----------------------------------------------->
                        </div>
                        <div class="form-check">
                            <!------------------WIS CHECK-------------------->
                            <input class="form-check-input" type="checkbox" value="" id="wisCheck">
                            <div class="input-group">       
                                <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                                <div class="input-group-prepend w-75">
                                    <div class="input-group-text char-check-text">Wisdom</div>
                                </div>
                            </div>
                            <!----------------------------------------------->
                        </div>
                        <div class="form-check">
                            <!------------------CHA CHECK-------------------->
                            <input class="form-check-input" type="checkbox" value="" id="chaCheck">
                            <div class="input-group">
                                <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                                <div class="input-group-prepend w-75">
                                    <div class="input-group-text char-check-text">Charisma</div>
                                </div>
                            </div>
                            <!----------------------------------------------->
                        </div>
                    </div>
                </div>

                <!----------------INSPIRATION--------------->
                <div class="card top-push section1">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-lg" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text">Inspiration</div>
                            </div>
                        </div>
                </div>
                <!--------------------------------------->
                <!----------------PROFICIENCY BONUS--------------->
                <div class="card section1">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-lg" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text">Proficiency Bonus</div>
                            </div>
                        </div>
                </div>
                <!--------------------------------------->
                <!----------------PASSIVE WISDOM--------------->
                <div class="card section1">
                    <div class="input-group">
                        <input class="w-25 form-control form-control-lg" type="number" placeholder="">
                        <div class="input-group-prepend w-75">
                            <div class="input-group-text">Passive Wisdom</div>
                        </div>
                    </div>
                </div>
                <!--------------------------------------->
                
                    <!------------------OTHER PROFs AND LANGs------------------------------>
                    <div class="card section1">
                        <div class="card-header header">
                            <h2 class="stat-header">Proffeciencies and Languages</h2>
                        </div>
                        <div class="card-body card-content">
                            <textarea class="form-control" id="txtOtherPL" rows="6"></textarea>
                        </div>
                    </div>
            </div>


            <div class="card col-3">
                <div class="card-header header">
                    <h2 class="stat-header">Skills</h2>
                </div>
                <div class="card-body card-content">

                    <div class="form-check">
                        <!------------------Acro CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="acroCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Acrobatics (DEX)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Animal CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="animalCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Animal Handling (WIS)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Arcana CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="arcanaCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Arcana (INT)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Athle CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="athleCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Athletics (STR)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Decept CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="deceptCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Deception (CHA)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Hist CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="histCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">History (INT)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Insight CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="insightCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Insight (WIS)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Intimi CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="intimiCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Intimidation (CHA)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Investi CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="investiCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Investigation (INT)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Med CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="medCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Medicine (WIS)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Nature CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="natureCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Nature (INT)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Percep CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="percepCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Perception (WIS)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Perform CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="performCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Performance (CHA)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Persuasion CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="persuasionCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Persuasion (CHA)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------Religion CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="religionCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Religion (INT)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------soh CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="sohCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Slight of Hand (DEX)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------stealth CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="stealthCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Stealth (DEX)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>
                    <div class="form-check">
                        <!------------------survival CHECK-------------------->
                        <input class="form-check-input" type="checkbox" value="" id="survivalCheck">
                        <div class="input-group">
                            <input class="w-25 form-control form-control-sm" type="number" placeholder="">
                            <div class="input-group-prepend w-75">
                                <div class="input-group-text char-check-text">Survival (WIS)</div>
                            </div>
                        </div>
                        <!----------------------------------------------->
                    </div>

                </div>
            </div>

            
            <div class="card col-5">
                <div class="card-body card-content">

                        <div class="row section1">
                            <!----------------------ARMOR CLASS-------------------------->
                            <div class="card col">
                                <div class="card-header header">
                                    <h2 class="stat-header">Armor Class</h2>
                                </div>
                                <div class="card-body card-content">
                                     <input class="form-control form-control-sm" type="number" placeholder="">
                                </div>
                            </div>
                            <!------------------------------------------------------->
                            <!--------------------------INITIATIVE----------------------------->
                            <div class="card col">
                                <div class="card-header header">
                                    <h2 class="stat-header">Initiative</h2>
                                </div>
                                <div class="card-body card-content">
                                     <input class="form-control form-control-sm" type="number" placeholder="">
                                </div>
                            </div>
                            <!------------------------------------------------------->
                            <!--------------------------SPEED----------------------------->
                            <div class="card col">
                                <div class="card-header header">
                                    <h2 class="stat-header">Speed</h2>
                                </div>
                                <div class="card-body card-content">
                                     <input class="form-control form-control-sm" type="number" placeholder="">
                                </div>
                            </div>
                            <!------------------------------------------------------->
                        </div>
                    
                        <div class="row section1">
                            <!-----------------------------HIT POINTS-------------------------->
                            <div class="card col">
                                <div class="card-header header">
                                    <h2 class="stat-header">Current Hit Points</h2>
                                </div>
                                <div class="card-body card-content">
                                    <div class="input-group">
                                        <div class="input-group-prepend w-75">
                                            <div class="input-group-text char-check-text">Max Hit Points</div>
                                        </div>
                                        <input class="w-25 form-control form-control-sm" type="number" placeholder="0">
                                    </div>
                                    <textarea class="form-control" id="txtCurrentHitPoints" rows="3"></textarea>
                                </div>

                                <div class="card-header header">
                                    <h2 class="stat-header">Temporary Hit Points</h2>
                                </div>
                                <div class="card-body card-content">
                                    <textarea class="form-control" id="txtTempHitPoints" rows="3"></textarea>
                                </div>
                            </div>
                            <!------------------------------------------------------->
                        </div>

                        <div class="row justify-content-around">
                        <!----------------HIT DICE--------------->
                        <div class="card col">
                            <div class="card-header header">
                                <h2 class="stat-header">Hit Dice</h2>
                            </div>
                            <div class="card-body card-content">
                                <div class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <div class="input-group-text char-check-text">Total</div>
                                    </div>
                                    <input class="w-75 form-control form-control-sm" type="number" placeholder="0">
                                </div>
                                <input class="form-control form-control-lg stat-modifier" type="number" placeholder="">
                            </div>
                        </div>
                        <!--------------------------------------->
                        <!----------------DEATH SAVES--------------->
                        <div class="card col">
                            <div class="card-header header">
                                <h2 class="stat-header">Death Saves</h2>
                            </div>
                            <div class="card-body card-content">
                                <!-----------SUCCESSES----------->
                                <h2 class="char-check-text">Successes</h2>
                                <div class="row justify-content-around">
                                        <div class="form-check form-check-inline w-25">
                                        <input class="form-check-input" type="checkbox" id="deathSuccess1" value="">
                                        </div>
                                        <div class="form-check form-check-inline w-25">
                                            <input class="form-check-input" type="checkbox" id="deathSuccess2" value="">
                                        </div>
                                        <div class="form-check form-check-inline w-25">
                                            <input class="form-check-input" type="checkbox" id="deathSuccess3" value="">
                                        </div>
                                </div>
                                <!-------------------------->
                                <!-----------FAILURES----------->
                                <h2 class="char-check-text">Failures</h2>
                                <div class="row justify-content-around">
                                    <div class="form-check form-check-inline w-25">
                                        <input class="form-check-input" type="checkbox" id="deathSuccess1" value="">
                                    </div>
                                        <div class="form-check form-check-inline w-25">
                                            <input class="form-check-input" type="checkbox" id="deathSuccess2" value="">
                                        </div>
                                        <div class="form-check form-check-inline w-25">
                                            <input class="form-check-input" type="checkbox" id="deathSuccess3" value="">
                                        </div>
                                </div>
                                <!-------------------------->
                            </div>
                        </div>
                        <!--------------------------------------->


                        </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section1">
        <div class="row justify-content-lg-around">
            
        </div>
    </div>

</div>













<!--
<div class="text-center">
    <h1 class="display-4">Character Sheets</h1>
        <p>
        This page contains the character sheets available from the official DND website.
        </p>

        <br />
    <h4>List of Character Sheets</h4>

        <br />
        <br />
            <a class="btn btn-secondary" href="~/charactersheets/Sheet1.pdf">Sheet 1 - Fillable Online</a>
        <br />
        <br />
            <a class="btn btn-secondary" href="~/charactersheets/Sheet2.pdf">Sheet 1 - Printable Version</a>
        <br />
        <br />
            <p>Sheet 2 - Coming Soon</p>
    
</div>
-->
