@{
    ViewData["Title"] = "Character Sheets";
}

<div class="text-center">
    <h1 class="display-4">Character Sheets</h1>
        <p>
        This page contains the character sheets available from the official DND website.
        </p>

        <br />
    <h4>List of Character Sheets</h4>

        <br />
        <br />
            <a class="btn btn-secondary" href="~/charactersheets/Sheet1.pdf">Sheet 1 - Fillable Online</a>
        <br />
        <br />
            <a class="btn btn-secondary" href="~/charactersheets/Sheet2.pdf">Sheet 1 - Printable Version</a>
        <br />
        <br />
            <p>Sheet 2 - Coming Soon</p>
    
</div>