html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*-----CUSTOM CSS------*/
.btnLogin {
    padding: 4px 8px 4px 8px;
    margin:10px;
    background-color:gold;
    color:white;
    text-align:center;
}

.btnLogin:hover {
    background-color: yellow;
    color: black;
}