@{
    ViewData["Title"] = "Create Game";
}

<div class="text-center">
    <h1 class="display-4">Create a Game</h1>
    <p>
        Create a new game!
    </p>

    <br />
    <a class="btn btn-primary" asp-area="" asp-controller="Play" asp-action="Index">Create</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Play" asp-action="Index">Cancel</a>
</div>