@{
    ViewData["Title"] = "Delete Game";
}

<div class="text-center">
    <h1 class="display-4">Delete a Game</h1>
    <p>
        Are you sure you want to delete this game? 
        All progress will be lost but your game assets will remain on your account. (Delete button not actually functional yet)
    </p>

    <br />
    <a class="btn btn-danger" asp-area="" asp-controller="Play" asp-action="Index">RIP Dungeon Master</a>
    <br />
    <br />
    <a class="btn btn-secondary" asp-area="" asp-controller="Play" asp-action="Index">Cancel</a>
</div>