@{
    ViewData["Title"] = "Play Details";
}

<div class="text-center">
    <h1 class="display-4">Game Details</h1>
    <p>
        Details about the current games.
    </p>

    <br />
    <a class="btn btn-secondary" asp-area="" asp-controller="Play" asp-action="Index">Back to Game</a>
</div>