@{
    ViewData["Title"] = "Edit Game";
}

<div class="text-center">
    <h1 class="display-4">Edit a Game</h1>
    <p>
        Edit an existing game!
    </p>

    <br />
    <a class="btn btn-secondary" asp-area="" asp-controller="Play" asp-action="Index">Back to Game</a>
</div>