@model DMD.BL.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1{
        text-align:center;
        font-size:24px;
    }
    .container{
        margin:0;
        padding:0;
    }
    .bannerImage{
        width:100vw;
        height:750px;
        background-image: url('../../img/retrowave.jpg');
        background-size: cover;
    }
    .custom-row{
        height:750px; /*Must Match banner Image height*/
    }
    .custom-card{
        height:375px;
        border-radius:10px;
    }
    .custom-center{
        text-align: center;
        margin: auto;
    }
    .custom-button{
        text-decoration:none;
        background-color: #7523B0;
        color: white;
        padding: 8px 18px 8px 18px;
        border: none;
        border-radius: 4px;
    }
        .custom-button:hover{
            background-color: #FF3366;
            color: white;
        }
        .custom-button:visited{
            text-decoration:none;
            color: white;
        }
    .custom-link{
        color: #7523B0;
        font-weight: 500;
        font-size: 14px;
    }
        .custom-link:hover{
            color: #FF3366;
            font-weight: 500;
            font-size: 14px;
        }
    #clouds{
        float: right;
        margin-bottom:50px;
    }
    #left{
        float: left;
        width: 500px;
        padding-bottom:100px;
    }

</style>

<div class="container">

        <div class="bannerImage">

        <div class="row custom-row m-2 justify-content-center my-auto">
                <div class="card custom-card col-md-4 m-5">
                    <h1 class="text-dark m-2">Log In</h1>
                    <div class="card-body m-3">
                        <form asp-action="Login">
                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                          <div class="form-group m-1">
                                <label asp-for="UserName" class="opacity-100control-label"></label>
                               <input asp-for="UserName" class="opacity-100 form-control" />
                                <span asp-validation-for="UserName" class="opacity-100text-danger"></span>
                          </div>
                          <div class="form-group m-1">
                               <label asp-for="Password" class="control-label"></label>
                               <input type="password" asp-for="Password" class="form-control" />
                               <span asp-validation-for="Password" class="text-danger"></span>
                          </div>
                          <div class="form-group mt-2 custom-center">
                               <input type="submit" value="Login" class="custom-button m-3" />
                          </div>
                        </form>
                    <div class="custom-center m-3">
                        <p>
                            <small>
                                Don't have an account? <br />
                                <a class="custom-link" asp-controller="User" asp-action="Create">Sign Up</a> for free!
                            </small>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

