@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #bannerImage{
        width: 100vw;
    }
</style>

<h1>  You have logged out. Safe travels!</h1>
<div>
    <img id="bannerImage" src="~/img/Vapor.jpg" alt="Vapor" width="1000" height="500">
</div>
