@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>You have logged out. Safe travels!</h1>
<div>
    <img src="~/img/Forest.jpg" alt="Forest" width="500" height="500">
</div>
