@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DND</h1>
    <br />
    <h2>Your Adventure Awaits...</h2>
    <h4>poop</h4>
    <p>This is the first page users will land on. They will see three key features we offer and 
       then be prompted to login or sign up.</p>
</div>
