@{
    ViewData["Title"] = "Home";
}

<style>
    .background-image {
       width:100vw;
       height:900px;
       background-image: url('../../img/vaporwave.jpg');
       background-size: cover;
    }
    .custom-big-button{
        text-decoration:none;
        background-color: white;
        color: black;
        padding: 14px 24px 14px 24px;
        border: none;
        border-radius: 8px;
        font-size:14px;
    }

        .custom-big-button:hover {
            background-color: #FF3366;
            color: white;
            transition: .3s;
        }
        .custom-big-button:visited{
            text-decoration:none;
        }
    .custom-margin{
        padding-top:12vh;
        margin:0;
    }
</style>


<body>
    <div class="background-image">
        <div class="text-center">
            <h1 class="display-4 text-light custom-margin">Welcome Adventurer!</h1>
            <br />

            <div class="row justify-content-center">
            <p class="text-light col-md-6 m-3">
                Your journey into the great unkown begins today!  Slay beasts with a mighty sword, cast a fire ball and loot treasure in your own fantasy world!
                Dungeon Master Developers is proud to present the ultimate role playing adventure online for you and your friends!
            </p>
            </div>
            <div class="row justify-content-center">
                <a class="custom-big-button m-3 col-sm-1" asp-controller="User" asp-action="Login">Log In</a>
                <a class="custom-big-button m-3 col-sm-1" asp-controller="User" asp-action="Create">Sign Up</a>
            </div>
        </div>
    </div>
</body>